@model GlobalGames.Data.Entities.Newsletter

<!DOCTYPE html>
<html lang="en">

<partial name="_Header" />

<body>
    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>
            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="selecionado"><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Serviços</a></li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>

                    }
                </ul>
            </nav>
        </div>
    </header>

    <partial name="_Newsletter" />

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="titulo">About us</h1>
                <p>
                    A Global Games Enterprise é uma renomada empresa de desenvolvimento de jogos,
                    com uma paixão por criar experiências incríveis para os jogadores em todo o mundo.
                    Nossa equipe talentosa trabalha duro para oferecer jogos emocionantes, imersivos e inovadores, sempre buscando superar as
                    expectativas dos jogadores.
                </p>
                </p>

                <p class="dark">
                    Com uma combinação de gráficos impressionantes, jogabilidade envolvente e histórias cativantes, 
                    nossos jogos transportam os jogadores para universos fascinantes e os mantêm entretidos por horas a fio.
                    Valorizamos a qualidade, a originalidade e a diversão em todos os nossos projetos,
                    garantindo que cada jogo seja uma experiência única e memorável.
                </p>
                </p>
            </article>

            <aside id="sidebar">
                <div class="dark">
                    <h3>What we do</h3>
                    <p>
                        Na Global Games Enterprise, desenvolvemos uma ampla variedade de jogos para diferentes plataformas,
                        incluindo consoles, PCs e dispositivos móveis. Nossa equipe de desenvolvedores, designers e artistas colabora
                        para criar mundos virtuais deslumbrantes, mecânicas de jogo envolventes e recursos inovadores. 
                        Além disso, também oferecemos serviços de consultoria e publicação para ajudar outros estúdios e
                        desenvolvedores independentes a lançar seus jogos no mercado.
                    </p>
                    </p>
                </div>
            </aside>
        </div>
    </section>
    <footer>
        <p>Global Games, Todos os direitos reservados &copy; 2020</p>
    </footer>
</body>
</html>